@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
.btn-succezz{
    background-color: gold;
    border-color: goldenrod;
    color: #000;
}
.btn{
    border-radius:4px;
    padding:5px 16px;
    box-shadow:none !important;
    font-family: 'Montserrat',  sans-serif;
}
.btn{
    display:inline-flex;
    border:2px solid transparent;
    line-height:inherit;
    max-width:905px;
    z-index:1;overflow:hidden;
    padding:5px;
    border-radius:0;
    border:none;
    letter-spacing:.5px;
    font-family:"Montserrat", sans-serif;
    background-color:aqua;
    display:inline-block;
    font-size:18px;
    line-height:26px;
    color:#121d33;
    font-weight:600;
    text-transform:capitalize;
    position:relative;
    text-align:center;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out
}

.btn:after{
    content:"";position:absolute;top:0;left:0;
    width:500%;height:1000%;background:rgba(255,255,255,0.3);
    z-index:-1;transform-origin:0% 0%;transform:translateX(calc(20% - 20px)) translateY(10%) rotate(-45deg);
    transition:transform 0.3s
}
.btn:hover:after{
    transform:translateY(10%) translateX(-20px) rotate(-45deg)
}
.btn i{margin-left:6px;vertical-align:middle;position:relative;top:-1px}
.btn:hover,.btn:active,.btn:focus{background-color:#000 !important;
    color:#fff !important;box-shadow:none !important;border:none !important
}
.btn:hover{
    transform: scale(1.01);
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus{
    outline:0;
    outline-offset:0
}
.btn:active,
.btn.active{
    background-image:none;
    outline:0;
    -webkit-box-shadow:none;box-shadow:none
}
.btn{
    border:2px solid transparent;
    line-height:inherit;
    z-index:1;
    overflow:hidden;
    border-radius:0;
    border:none;
    letter-spacing:.5px;
    font-family:"Montserrat", sans-serif;
    display:inline-block;
    line-height:26px;
    text-transform:capitalize;
    color: #121d33;
    position:relative;
    text-align:center;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out
}

.btn:after{
    content:"";position:absolute;top:0;left:0;
    width:500%;height:1000%;background:rgba(255,255,255,0.3);
    z-index:-1;transform-origin:0% 0%;transform:translateX(calc(20% - 20px)) translateY(10%) rotate(-45deg);
    transition:transform 0.3s
}
.btn:hover:after{
    transform:translateY(10%) translateX(-20px) rotate(-45deg)
}
.btn i{margin-left:6px;vertical-align:middle;position:relative;top:-1px}
.btn:hover,.btn:active,.btn:focus{background-color:#000 !important;
    color:#fff !important;box-shadow:none !important;border:none !important
}

.btn-addon {
    font-weight: 700;
    border: 1px solid skyblue;
}


.btn-remove{
    cursor: pointer;
}


